.result {
  font-size: 4em;
}

.result.latest {
  font-size: 8em;
  font-weight: bold;
}

.symbol {
  font-size: 2em;
  line-height: 64px;
}

.symbol.discarded { opacity: 0.5; }

.symbol.die {
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.symbol.coin { background-image: url("image/coin.svg"); }

.symbol.coin-1, .symbol.coin-2, .symbol.d4, .symbol.d6 {
  color: rgba(0, 0, 0, 0)
}

.symbol.d8,
.symbol.d10,
.symbol.d12,
.symbol.d20 { color: white; }

/* Larger numbers mean more, smaller sides, need smaller digits */
.symbol.d10,
.symbol.d12,
.symbol.d20 { font-size: 1.30em; }

.symbol.coin-1 { background-image: url("image/coin_1.svg"); }
.symbol.coin-2 { background-image: url("image/coin_2.svg"); }

.symbol.d4-1 { background-image: url("image/d4_1.svg"); }
.symbol.d4-2 { background-image: url("image/d4_2.svg"); }
.symbol.d4-3 { background-image: url("image/d4_3.svg"); }
.symbol.d4-4 { background-image: url("image/d4_4.svg"); }

.symbol.d6-1 { background-image: url("image/d6_1.svg"); }
.symbol.d6-2 { background-image: url("image/d6_2.svg"); }
.symbol.d6-3 { background-image: url("image/d6_3.svg"); }
.symbol.d6-4 { background-image: url("image/d6_4.svg"); }
.symbol.d6-5 { background-image: url("image/d6_5.svg"); }
.symbol.d6-6 { background-image: url("image/d6_6.svg"); }

.symbol.d8 { background-image: url("image/d8.svg"); }
.symbol.d10 { background-image: url("image/d10.svg"); }
.symbol.d12 { background-image: url("image/d12.svg"); }
.symbol.d20 { background-image: url("image/d20.svg"); }

.history .row {
  border-bottom: 1px solid #888888;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.history .row.latest .symbol {
  font-size: 3em;
  line-height: 96px;
}

.history .row.latest .symbol.die {
  font-size: 3em;
  line-height: 96px;
  width: 96px;
  height: 96px;
}

.history .row.latest .symbol.d10,
.history .row.latest .symbol.d12,
.history .row.latest .symbol.d20 { font-size: 1.95em; }